@font-face {
  font-family: 'Gotham Light Italic';
  src: url('../fonts/Gotham-LightItalic.eot');
  src: url('../fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-LightItalic.woff2') format('woff2'),
  url('../fonts/Gotham-LightItalic.woff') format('woff'),
  url('../fonts/Gotham-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Light.woff2') format('woff2'),
  url('../fonts/Gotham-Light.woff') format('woff'),
  url('../fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SP Marker Font';
  src: url('../fonts/SPMarkerFontRegular.eot');
  src: url('../fonts/SPMarkerFontRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SPMarkerFontRegular.woff2') format('woff2'),
  url('../fonts/SPMarkerFontRegular.woff') format('woff'),
  url('../fonts/SPMarkerFontRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Medium.woff2') format('woff2'),
  url('../fonts/Gotham-Medium.woff') format('woff'),
  url('../fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mayton';
  src: url('../fonts/Mayton.eot');
  src: url('../fonts/Mayton.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mayton.woff2') format('woff2'),
  url('../fonts/Mayton.woff') format('woff'),
  url('../fonts/Mayton.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}