@import "fontface";

* {
  margin: 0;
  font-family: 'Gotham Light';
}

.container {
  width: 960px;
}

/* HERO SECTION STYLE */
.hero-banner {
  background: url("../img/hero-banner-bg.png") no-repeat;
  background-size: cover;
  height: 117vh;
  width: 100%;
  position: relative;

  .hero-image {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%,-50%);
  }
}
/* END OF HERO SECTION STYLE */

/* SECTION 2 STYLE */
.section2 {
  padding: 30px 0;

  p {
    font-size: 18px;
  }
  .section2-video {
    margin: 60px auto 30px auto;
    display: table;
  }
}