@import "fontface";

* {
  margin: 0;
  font-family: 'Gotham Light';
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

p {
  b {
    font-family: 'Gotham Medium';
  }
  .p-pink {
    color: #e53d8a;
    font-family: 'Gotham Medium';
  }
}
a {
  color: #f29dc3;
}

.container {
  width: 960px;

  @media (max-width: 480px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 992px) {
    width: 100%;
  }
}

.center {
  text-align: center;
  margin: 30px 0;
}

.pink-box {
  width: 860px;
  margin: 0 auto 30px auto;
  background: #fadae8;
  border-radius: 10px;
  padding: 30px;
  position: relative;

  .content {
    width: 100%;
    padding: 10px 25px;
  }
  .avatar {
    width: 190px;
    height: 190px;
    border: 3px solid #e5408c;
    border-radius: 50%;
    display: block;
    text-align: center;
    overflow: hidden;
    position: absolute;
    right: -95px;
    top: 10%;

    img {
      width: 100%;
    }
  }
}

.dark-pink-box {
  background: #e53d8a;
  color: white;
  position: relative;
  margin: 30px auto;
  width: 680px;

  &.right-ava {
    .avatar {
      left: initial;
      right: -143px;
    }
  }
  .avatar {
    right: initial;
    left: -143px;
    top: -14px;
  }
}

.mayton-title {
  font-family: 'Mayton';
  text-align: center;
  font-size: 54px;
}

.sp-marker-title {
  font-family: 'SP Marker Font';
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

/* HERO SECTION STYLE */
.hero-banner {
  background: url("../img/hero-banner-bg.png") no-repeat;
  background-size: cover;
  height: 117vh;
  width: 100%;
  position: relative;

  @media (max-width: 480px) {
    background: url("../img/hero-banner-bg(480px).png") no-repeat;
  }
  .hero-image {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%,-50%);

    @media (max-width: 600px) {
      width: 100%;
    }
    img {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
/* END OF HERO SECTION STYLE */

/* SECTION 2 STYLE */
.section2 {
  padding: 30px 0;

  p {
    font-size: 18px;
  }
  .section2-video {
    margin: 60px auto 30px auto;
    display: table;
    position: relative;
    z-index: 1;

    @media (max-width: 680px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      height: 200px;
    }
  }
}
/* END OF SECTION 2 STYLE */

/* SECTION 3 STYLE */
.section3 {
  background: #f29dc3;
  padding: 170px 0 30px 0;
  position: relative;
  margin-top: -140px;

  &:before {
    position: absolute;
    width: 100%;
    height: 28px;
    content: '';
    top: -28px;
    background: url("../img/section2-footer-bg.png") repeat-x;
  }
  .section3-table {
    margin: 30px auto;

    @media (max-width:768px) {
      width: 100% !important;
    }
    @media (max-width: 480px) {
      tr td {
        width: 100%;
        display: block;
      }
    }
    tr {
      td {
        padding: 15px;

        img {
          width: 100%;
        }
      }
    }
  }
  .transparent-box {
    display: table;
    position: relative;
    margin: 30px auto;

    @media (max-width:768px) {
      background: #fadae8;
      border-radius: 15px;

      .content {
        position: relative !important;

      }
      .bg-adapter {
        display: none;
      }
    }
    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding: 10px 25px;
    }
    h4 {
      font-family: 'SP Marker Font';
      text-align: center;
    }
  }
}
/* END OF SECTION 3 STYLE */

/* SECTION 4 STYLE */
.section4 {
  padding: 30px 0;

  .section4-quotes {
    margin-bottom: 30px;

    @media (max-width: 900px) {
      width: 100%;
    }
  }
  .section4-chart-darah {
    @media (max-width: 900px) {
      width: 100%;
    }
  }
  .kata-dokter {
    width: 699px;
    height: 235px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 900px) {
      width: 100%;
      height: auto;
      background: #fadae8;
      border-radius: 15px;
      margin: 0 auto 160px auto;

      .bg-adapter {
        display: none;
      }
      .content {
        position: relative !important;
        padding: 13px 30px 105px 30px !important;
        height: auto !important;
      }
      .avatar {
        right: initial !important;
        left: 50%;
        top: initial !important;
        bottom: -95px;
        transform: translate(-50%,0);
      }
    }
    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      padding: 13px 100px 13px 30px;
    }
    .avatar {
      width: 190px;
      height: 190px;
      border: 3px solid #e5408c;
      border-radius: 50%;
      display: block;
      text-align: center;
      overflow: hidden;
      position: absolute;
      right: -95px;
      top: 10%;

      img {
        width: 100%;
      }
    }
  }
}
/* END OF SECTION 4 STYLE */

/* SECTION 5 STYLE */
.section5 {
  padding: 30px 0;
  background: #fce2ed;

  @media (max-width: 900px) {
    .illustration1, .illustration2 {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    .illustration {
      width: 100%;
    }
  }
}
/* END OF SECTION 5 STYLE */

/* SECTION 6 STYLE */
.section6 {
  padding: 30px 0;
  width: 100%;
  height: 115vh;
  background: url("../img/section6-bg.png") no-repeat;
  background-size: cover;
  position: relative;

  @media (max-width: 768px) {
    .title-ribbon {
      width: 100%;
    }
  }
  @media (max-width: 400px) {
    .rok-wanita-mobile {
      width: 100px;
    }
  }
  &:before {
    content: '';
    background: url("../img/section6-top-line.png") repeat-x center;
    width: 100%;
    height: 57px;
    position: absolute;
    top: -28px;
  }
  &:after {
    content: '';
    background: url("../img/section6-bottom-line.png") repeat-x center;
    width: 100%;
    height: 105px;
    position: absolute;
    bottom: -20px;
  }
  .rok-wanita {
    position: relative;
    z-index: 10;
  }
}
/* END OF SECTION 6 STYLE */

/* SECTION 7 STYLE */
.section7 {
  padding: 30px 0;

  .pink-box {
    .avatar {
      top: 0;
    }
  }
}
/* END OF SECTION 7 STYLE */

/* SECTION 8 STYLE */
.section8 {
  background: url("../img/section8-bg.png") no-repeat center top;
  padding: 120px 0;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width:100%;
    height: 98px;
    background: url("../img/section8-top-line.png") no-repeat left top;
    top: 0;
  }
  .pink-box {
    width: 680px;
    position: relative;

    .content {
      padding: 10px 65px 10px 25px;
    }
    .avatar {
      top: 0;
    }
  }
  .pembalut {
    background: url("../img/section8-pembalut.png") no-repeat;
    width: 510px;
    height: 474px;
    position: absolute;
    top:90px;
    left: 0;
  }
}
/* END OF SECTION 8 STYLE */

/* SECTION 9 STYLE */
.section9 {
  //padding: 30px 0;
  width: 100%;
  height: 115vh;
  background: url("../img/section9-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &:after {
    background: url("../img/section9-bottom-line.png") repeat-x;
    width: 100%;
    height: 35px;
    content: '';
    position: absolute;
    bottom: 0;
  }
  .container {
    position: relative;
    height: 100%;
  }
  .mayton-title {
    margin-top: 260px;
    margin-bottom: 30px;
  }
  .cewek-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* END OF SECTION 9 STYLE */

/* SECTION 11 STYLE */
.section11 {
  .bg-ungu {
    background: #ed78ad;
    position: relative;
    color: white;
    height: 108px;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 16px;
      bottom: 0;
      background: url("../img/section11-bg-ungu-footer-bg.png") repeat-x;
    }
    p {
      margin-top: 10px;
    }
    .container {
      position: relative;
    }
    .sempak-wrapper {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
/* END OF SECTION 11 STYLE */

/* SECTION 12 STYLE */
.section12 {
  padding: 30px 0;
  position: relative;
  background: #f8bdd6;

  &:before, &:after {
    position: absolute;
    width: 100%;
    content: '';
    background: url("../img/section12-line-gb.png") repeat-x;
    height: 32px;
  }
  &:before {
    top: -16px;
  }
  &:after {
    bottom: -16px;
  }
  .container {
    position: relative;
    padding-bottom: 95px;

    .bingung-wrapper {
      position: absolute;
      right: -60px;
      bottom: 0;
    }
  }
}
/* END OF SECTION 12 STYLE */

/* SECTION 13 STYLE */
.section13 {
  padding: 30px 0 329px 0;
  position: relative;

  &:after {
    position: absolute;
    width: 100%;
    height: 329px;
    content: '';
    bottom: 0;
    background: url("../img/section13-footer-bg.png") no-repeat center;
  }
  .custom-banner-butterfly {
    width: 780px;
    height: 389px;
    margin: 0 auto;
    position: relative;

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 70px;
    }
  }
}
/* END OF SECTION 13 STYLE */

/* SECTION 14 STYLE */
.section14 {
  padding: 30px 0;
}
/* END OF SECTION 14 STYLE */

/* FOOTER STYLE */
footer {
  p {
    font-size: 18px;

    b {
      font-family: 'Gotham Bold';
    }
  }
}
/* END OF FOOTER STYLE */

.hide768 {
  @media(max-width:768px) {
    display: none;
  }
}
.show768 {
  display: none;
  @media(max-width:768px) {
    display: inherit;
  }
}
.hide600 {
  @media (max-width:600px) {
    display: none;
  }
}
.show600 {
  display: none;
  @media (max-width:600px) {
    display: inherit;
  }
}
.hide560 {
  @media (max-width:560px) {
    display: none;
  }
}
.show560 {
  display: none;
  @media (max-width:560px) {
    display: inherit;
  }
}
@media (max-width: 560px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding: 10px;
    }
  }
}