@import "fontface";

* {
  margin: 0;
  font-family: 'Gotham Light';
  font-size: 18px;
}
p {
  b {
    font-family: 'Gotham Medium';
  }
  .p-pink {
    color: #e53d8a;
    font-family: 'Gotham Medium';
  }
}
a {
  color: #f29dc3;
}

.container {
  width: 960px;

  @media (max-width: 992px) {
    width: 100%;
  }
}

.center {
  text-align: center;
  margin: 30px 0;
}

.pink-box {
  width: 860px;
  margin: 0 auto 30px auto;
  background: #fadae8;
  border-radius: 10px;
  padding: 30px;

  .content {
    width: 100%;
    padding: 10px 25px;
  }
  .avatar {
    width: 190px;
    height: 190px;
    border: 3px solid #e5408c;
    border-radius: 50%;
    display: block;
    text-align: center;
    overflow: hidden;
    position: absolute;
    right: -95px;
    top: 10%;

    img {
      width: 100%;
    }
  }
}

.dark-pink-box {
  background: #e53d8a;
  color: white;
  position: relative;
  margin: 30px auto;

  &.right-ava {
    .avatar {
      left: initial;
      right: -143px;
    }
  }
  .avatar {
    right: initial;
    left: -143px;
    top: -14px;
  }
}

.mayton-title {
  font-family: 'Mayton';
  text-align: center;
  font-size: 54px;
}

/* HERO SECTION STYLE */
.hero-banner {
  background: url("../img/hero-banner-bg.png") no-repeat;
  background-size: cover;
  height: 117vh;
  width: 100%;
  position: relative;

  .hero-image {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%,-50%);
  }
}
/* END OF HERO SECTION STYLE */

/* SECTION 2 STYLE */
.section2 {
  padding: 30px 0;

  p {
    font-size: 18px;
  }
  .section2-video {
    margin: 60px auto 30px auto;
    display: table;
    position: relative;
    z-index: 1;
  }
}
/* END OF SECTION 2 STYLE */

/* SECTION 3 STYLE */
.section3 {
  background: #f29dc3;
  padding: 170px 0 30px 0;
  position: relative;
  margin-top: -140px;

  &:before {
    position: absolute;
    width: 100%;
    height: 28px;
    content: '';
    top: -28px;
    background: url("../img/section2-footer-bg.png") repeat-x;
  }
  .section3-table {
    margin: 30px auto;

    tr {
      td {
        padding: 15px;
      }
    }
  }
  .transparent-box {
    display: table;
    position: relative;
    margin: 30px auto;

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding: 10px 25px;
    }
    h4 {
      font-family: 'SP Marker Font';
      text-align: center;
    }
  }
}
/* END OF SECTION 3 STYLE */

/* SECTION 4 STYLE */
.section4 {
  padding: 30px 0;

  .section4-quotes {
    margin-bottom: 30px;
  }
  .kata-dokter {
    width: 699px;
    height: 235px;
    margin: 0 auto;
    position: relative;

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      padding: 13px 100px 13px 30px;
    }
    .avatar {
      width: 190px;
      height: 190px;
      border: 3px solid #e5408c;
      border-radius: 50%;
      display: block;
      text-align: center;
      overflow: hidden;
      position: absolute;
      right: -95px;
      top: 10%;

      img {
        width: 100%;
      }
    }
  }
}
/* END OF SECTION 4 STYLE */

/* SECTION 5 STYLE */
.section5 {
  padding: 30px 0;
  background: #fce2ed;
}
/* END OF SECTION 5 STYLE */

/* SECTION 6 STYLE */
.section6 {
  padding: 30px 0;
  width: 100%;
  height: 115vh;
  background: url("../img/section6-bg.png") no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: '';
    background: url("../img/section6-top-line.png") repeat-x center;
    width: 100%;
    height: 57px;
    position: absolute;
    top: -28px;
  }
  &:after {
    content: '';
    background: url("../img/section6-bottom-line.png") repeat-x center;
    width: 100%;
    height: 105px;
    position: absolute;
    bottom: -20px;
  }
  .rok-wanita {
    position: relative;
    z-index: 10;
  }
}
/* END OF SECTION 6 STYLE */

/* SECTION 7 STYLE */
.section7 {
  padding: 30px 0;

  .pink-box {
    .avatar {
      top: 0;
    }
  }
}
/* END OF SECTION 7 STYLE */

/* SECTION 8 STYLE */
.section8 {
  background: url("../img/section8-bg.png") no-repeat center top;
  padding: 120px 0;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width:100%;
    height: 98px;
    background: url("../img/section8-top-line.png") no-repeat left top;
    top: 0;
  }
  .pink-box {
    width: 680px;

    .avatar {
      top: 0;
    }
  }
  .pembalut {
    background: url("../img/section8-pembalut.png") no-repeat;
    width: 510px;
    height: 474px;
    position: absolute;
    top:90px;
    left: 0;
  }
}
/* END OF SECTION 8 STYLE */

/* SECTION 9 STYLE */
.section9 {
  //padding: 30px 0;
  width: 100%;
  height: 113vh;
  background: url("../img/section9-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    height: 100%;
  }
  .mayton-title {
    margin-top: 260px;
    margin-bottom: 30px;
  }
  .cewek-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* SECTION 9 STYLE */