@font-face {
  font-family: 'Gotham Light Italic';
  src: url("../fonts/Gotham-LightItalic.eot");
  src: url("../fonts/Gotham-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-LightItalic.woff2") format("woff2"), url("../fonts/Gotham-LightItalic.woff") format("woff"), url("../fonts/Gotham-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham Light';
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SP Marker Font';
  src: url("../fonts/SPMarkerFontRegular.eot");
  src: url("../fonts/SPMarkerFontRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SPMarkerFontRegular.woff2") format("woff2"), url("../fonts/SPMarkerFontRegular.woff") format("woff"), url("../fonts/SPMarkerFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Mayton';
  src: url("../fonts/Mayton.eot");
  src: url("../fonts/Mayton.eot?#iefix") format("embedded-opentype"), url("../fonts/Mayton.woff2") format("woff2"), url("../fonts/Mayton.woff") format("woff"), url("../fonts/Mayton.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  font-family: 'Gotham Light';
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

p b {
  font-family: 'Gotham Medium';
}
p .p-pink {
  color: #e53d8a;
  font-family: 'Gotham Medium';
}

a {
  color: #f29dc3;
}

.container {
  width: 960px;
}
@media (max-width: 480px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

.center {
  text-align: center;
  margin: 30px 0;
}

.pink-box {
  width: 860px;
  margin: 0 auto 30px auto;
  background: #fadae8;
  border-radius: 10px;
  padding: 30px;
  position: relative;
}
@media (max-width: 992px) {
  .pink-box {
    width: 100%;
  }
  .pink-box .content {
    position: relative;
  }
  .pink-box .avatar {
    top: inherit !important;
    bottom: -95px;
    right: inherit !important;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.pink-box .content {
  width: 100%;
  padding: 10px 25px;
}
.pink-box .avatar {
  width: 190px;
  height: 190px;
  border: 3px solid #e5408c;
  border-radius: 50%;
  display: block;
  text-align: center;
  overflow: hidden;
  position: absolute;
  right: -95px;
  top: 10%;
}
.pink-box .avatar img {
  width: 100%;
}

.dark-pink-box {
  background: #e53d8a;
  color: white;
  position: relative;
  margin: 30px auto;
  width: 680px;
}
.dark-pink-box.right-ava .avatar {
  left: initial;
  right: -143px;
}
.dark-pink-box .avatar {
  right: initial;
  left: -143px;
  top: -14px;
}

.mayton-title {
  font-family: 'Mayton';
  text-align: center;
  font-size: 54px;
}

.sp-marker-title {
  font-family: 'SP Marker Font';
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

/* HERO SECTION STYLE */
.hero-banner {
  background: url("../img/hero-banner-bg.png") no-repeat;
  background-size: cover;
  height: 117vh;
  width: 100%;
  position: relative;
}
@media (max-width: 480px) {
  .hero-banner {
    background: url("../img/hero-banner-bg(480px).png") no-repeat;
  }
}
.hero-banner .hero-image {
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
  .hero-banner .hero-image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero-banner .hero-image img {
    width: 100%;
  }
}

/* END OF HERO SECTION STYLE */
/* SECTION 2 STYLE */
.section2 {
  padding: 30px 0;
}
.section2 p {
  font-size: 18px;
}
.section2 .section2-video {
  margin: 60px auto 30px auto;
  display: table;
  position: relative;
  z-index: 1;
}
@media (max-width: 680px) {
  .section2 .section2-video {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .section2 .section2-video {
    height: 200px;
  }
}

/* END OF SECTION 2 STYLE */
/* SECTION 3 STYLE */
.section3 {
  background: #f29dc3;
  padding: 170px 0 30px 0;
  position: relative;
  margin-top: -140px;
}
.section3:before {
  position: absolute;
  width: 100%;
  height: 28px;
  content: '';
  top: -28px;
  background: url("../img/section2-footer-bg.png") repeat-x;
}
.section3 .section3-table {
  margin: 30px auto;
}
@media (max-width: 768px) {
  .section3 .section3-table {
    width: 100% !important;
  }
}
@media (max-width: 480px) {
  .section3 .section3-table tr td {
    width: 100%;
    display: block;
  }
}
.section3 .section3-table tr td {
  padding: 15px;
}
.section3 .section3-table tr td img {
  width: 100%;
}
.section3 .transparent-box {
  display: table;
  position: relative;
  margin: 30px auto;
}
@media (max-width: 768px) {
  .section3 .transparent-box {
    background: #fadae8;
    border-radius: 15px;
  }
  .section3 .transparent-box .content {
    position: relative !important;
  }
  .section3 .transparent-box .bg-adapter {
    display: none;
  }
}
.section3 .transparent-box .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 10px 25px;
}
.section3 .transparent-box h4 {
  font-family: 'SP Marker Font';
  text-align: center;
}

/* END OF SECTION 3 STYLE */
/* SECTION 4 STYLE */
.section4 {
  padding: 30px 0;
}
.section4 .section4-quotes {
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .section4 .section4-quotes {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .section4 .section4-chart-darah {
    width: 100%;
  }
}
.section4 .kata-dokter {
  width: 699px;
  height: 235px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 900px) {
  .section4 .kata-dokter {
    width: 100%;
    height: auto;
    background: #fadae8;
    border-radius: 15px;
    margin: 0 auto 160px auto;
  }
  .section4 .kata-dokter .bg-adapter {
    display: none;
  }
  .section4 .kata-dokter .content {
    position: relative !important;
    padding: 13px 30px 105px 30px !important;
    height: auto !important;
  }
  .section4 .kata-dokter .avatar {
    right: initial !important;
    left: 50%;
    top: initial !important;
    bottom: -95px;
    transform: translate(-50%, 0);
  }
}
.section4 .kata-dokter .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 13px 100px 13px 30px;
}
.section4 .kata-dokter .avatar {
  width: 190px;
  height: 190px;
  border: 3px solid #e5408c;
  border-radius: 50%;
  display: block;
  text-align: center;
  overflow: hidden;
  position: absolute;
  right: -95px;
  top: 10%;
}
.section4 .kata-dokter .avatar img {
  width: 100%;
}

/* END OF SECTION 4 STYLE */
/* SECTION 5 STYLE */
.section5 {
  padding: 30px 0;
  background: #fce2ed;
}
@media (max-width: 900px) {
  .section5 .illustration1, .section5 .illustration2 {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .section5 .illustration {
    width: 100%;
  }
}

/* END OF SECTION 5 STYLE */
/* SECTION 6 STYLE */
.section6 {
  padding: 30px 0;
  width: 100%;
  height: 115vh;
  background: url("../img/section6-bg.png") no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 768px) {
  .section6 .title-ribbon {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .section6 .rok-wanita-mobile {
    width: 100px;
  }
}
.section6:before {
  content: '';
  background: url("../img/section6-top-line.png") repeat-x center;
  width: 100%;
  height: 57px;
  position: absolute;
  top: -28px;
}
.section6:after {
  content: '';
  background: url("../img/section6-bottom-line.png") repeat-x center;
  width: 100%;
  height: 105px;
  position: absolute;
  bottom: -20px;
}
.section6 .rok-wanita {
  position: relative;
  z-index: 10;
}

/* END OF SECTION 6 STYLE */
/* SECTION 7 STYLE */
.section7 {
  padding: 30px 0;
}
@media (max-width: 992px) {
  .section7 .jemuran {
    width: 100%;
  }
}
.section7 .pink-box .avatar {
  top: 0;
}

/* END OF SECTION 7 STYLE */
/* SECTION 8 STYLE */
.section8 {
  background: url("../img/section8-bg.png") no-repeat center top;
  padding: 120px 0;
  position: relative;
}
.section8:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 98px;
  background: url("../img/section8-top-line.png") no-repeat left top;
  top: 0;
}
.section8 .pink-box {
  width: 680px;
  position: relative;
}
.section8 .pink-box .content {
  padding: 10px 65px 10px 25px;
}
.section8 .pink-box .avatar {
  top: 0;
}
.section8 .pembalut {
  background: url("../img/section8-pembalut.png") no-repeat;
  width: 510px;
  height: 474px;
  position: absolute;
  top: 90px;
  left: 0;
}

/* END OF SECTION 8 STYLE */
/* SECTION 9 STYLE */
.section9 {
  width: 100%;
  height: 115vh;
  background: url("../img/section9-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.section9:after {
  background: url("../img/section9-bottom-line.png") repeat-x;
  width: 100%;
  height: 35px;
  content: '';
  position: absolute;
  bottom: 0;
}
.section9 .container {
  position: relative;
  height: 100%;
}
.section9 .mayton-title {
  margin-top: 260px;
  margin-bottom: 30px;
}
.section9 .cewek-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* END OF SECTION 9 STYLE */
/* SECTION 11 STYLE */
.section11 .bg-ungu {
  background: #ed78ad;
  position: relative;
  color: white;
  height: 108px;
}
.section11 .bg-ungu:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 16px;
  bottom: 0;
  background: url("../img/section11-bg-ungu-footer-bg.png") repeat-x;
}
.section11 .bg-ungu p {
  margin-top: 10px;
}
.section11 .bg-ungu .container {
  position: relative;
}
.section11 .bg-ungu .sempak-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

/* END OF SECTION 11 STYLE */
/* SECTION 12 STYLE */
.section12 {
  padding: 30px 0;
  position: relative;
  background: #f8bdd6;
}
.section12:before, .section12:after {
  position: absolute;
  width: 100%;
  content: '';
  background: url("../img/section12-line-gb.png") repeat-x;
  height: 32px;
}
.section12:before {
  top: -16px;
}
.section12:after {
  bottom: -16px;
}
.section12 .container {
  position: relative;
  padding-bottom: 95px;
}
.section12 .container .bingung-wrapper {
  position: absolute;
  right: -60px;
  bottom: 0;
}

/* END OF SECTION 12 STYLE */
/* SECTION 13 STYLE */
.section13 {
  padding: 30px 0 329px 0;
  position: relative;
}
.section13:after {
  position: absolute;
  width: 100%;
  height: 329px;
  content: '';
  bottom: 0;
  background: url("../img/section13-footer-bg.png") no-repeat center;
}
.section13 .custom-banner-butterfly {
  width: 780px;
  height: 389px;
  margin: 0 auto;
  position: relative;
}
.section13 .custom-banner-butterfly .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px;
}

/* END OF SECTION 13 STYLE */
/* SECTION 14 STYLE */
.section14 {
  padding: 30px 0;
}

/* END OF SECTION 14 STYLE */
/* FOOTER STYLE */
footer p {
  font-size: 18px;
}
footer p b {
  font-family: 'Gotham Bold';
}

/* END OF FOOTER STYLE */
@media (max-width: 768px) {
  .hide768 {
    display: none;
  }
}

.show768 {
  display: none;
}
@media (max-width: 768px) {
  .show768 {
    display: inherit;
  }
}

@media (max-width: 600px) {
  .hide600 {
    display: none;
  }
}

.show600 {
  display: none;
}
@media (max-width: 600px) {
  .show600 {
    display: inherit;
  }
}

@media (max-width: 560px) {
  .hide560 {
    display: none;
  }
}

.show560 {
  display: none;
}
@media (max-width: 560px) {
  .show560 {
    display: inherit;
  }
}

@media (max-width: 560px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .row .col-lg-1, .row .col-lg-10, .row .col-lg-11, .row .col-lg-12, .row .col-lg-2, .row .col-lg-3, .row .col-lg-4, .row .col-lg-5, .row .col-lg-6, .row .col-lg-7, .row .col-lg-8, .row .col-lg-9, .row .col-md-1, .row .col-md-10, .row .col-md-11, .row .col-md-12, .row .col-md-2, .row .col-md-3, .row .col-md-4, .row .col-md-5, .row .col-md-6, .row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-sm-1, .row .col-sm-10, .row .col-sm-11, .row .col-sm-12, .row .col-sm-2, .row .col-sm-3, .row .col-sm-4, .row .col-sm-5, .row .col-sm-6, .row .col-sm-7, .row .col-sm-8, .row .col-sm-9, .row .col-xs-1, .row .col-xs-10, .row .col-xs-11, .row .col-xs-12, .row .col-xs-2, .row .col-xs-3, .row .col-xs-4, .row .col-xs-5, .row .col-xs-6, .row .col-xs-7, .row .col-xs-8, .row .col-xs-9 {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
